
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    *{

        margin: 0;  
        padding: 0;
        box-sizing: border-box:border-box;
        font-family: "inter", sans-serif;
    }

   .cardapio-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


    .card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
    }
        

    .card-list .card-item {
        list-style: none;
    }

    .card-list .card-item .card-link {
        user-select: none;
        display: block;
        background: white;
        border: 2px solid transparent;
        padding: 18px;
        border-radius:12px ;
        box-shadow: 0  10px 10px black;
        transition: 0.2s ease;
        text-decoration: none;
      
    }

 .card-list .card-item .card-link:active{
    cursor: grabbing;
 }


    .card-list .card-item .card-link:hover{
        border-color:white;}

    .card-list .card-item .card-image {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-list .card-link .badge {
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        font-size: 0.95rem;
        font-weight: 500;
        margin: 16px 0 18px;
        background: #ff0000;
        width: fit-content;
        border-radius: 50px;


    }

      .card-list .card-link .badge.pizza {
         color: rgb(255, 255, 255);
        background: #ff0505d9; }
        
      .card-list .card-link .badge.lasanha {
         color: rgb(255, 255, 255);
        background:  #ff0505d9; }

          .card-list .card-link .badge.calzone {
         color: rgb(255, 255, 255);
        background: #ff0505d9; }

          .card-list .card-link .badge.spaghetti {
         color: rgb(255, 255, 255);
        background:  #ff0505d9; }

        
          .card-list .card-link .badge{
         color: rgb(255, 255, 255);
        background:  #ff0505d9; }

    


.card-list .card-link .card-title {
font-size: 1.19rem;
color: rgb(0, 0, 0);
font-weight: 600;

}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: rgb(253, 253, 253);
    margin: 30px 0 5px;
    background: rgb(255, 1, 1);
    cursor: pointer;
    border: 2px solid  rgb(255, 255, 255);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{ 
    color: #fff;
    background: rgb(255, 0, 0); }

    .card-wrapper .swiper-pagination-bullet{
        height: 13px;
        width: 13px;
        opacity: 0.5;
       
    
    }

    .card-wrapper .swiper-pagination-bullet {
        opacity: 1;
    }

    .card-wrapper .swiper-slide-button {
        color: black;
        margin-top: -35px;

    }

    @media screen and (max-width: 768px) {
        .card-wrapper {
            margin: 0 10px 25px;
        } 

        .card-wrapper .swiper-slide-button{
            display: none;
        }
    } 
