
.hero{

    background-color: #EA1D2C;  
    color: white;
    display: flex;
    align-items:self-start;
    justify-content: space-between;
    align-items: center;
    text-align: 100px;
    padding: 60px 20px;
}
.hero-texto{
  margin-left: 350px;
}
.hero h1{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.destaque{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}
.hero p {
    font-size: 30px; 
    opacity: 0.9;
    margin-bottom: 20px;
    max-width: auto;
    text-align: center;
}
.hamburgerhero-img{
    width: 300px;
    border-radius: 1px;
    transform: trasform 0.4s ease, box-shadow 0.4s ease;
}
.hamburgerhero-img:hover{
    transform: scale(1.1);
}

 
