
.hero{

    background-color: #EA1D2C;  
    color: white;
    display: flex;
    align-items:self-start;
    justify-content: space-between;
    align-items: center;
    text-align: 100px;
    padding: 2rem 1rem;
}
.hero-texto{
  margin-left: 350px;
}
.hero h1{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.destaque{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}
.hero p {
    font-size: 30px; 
    opacity: 0.9;
    margin-bottom: 20px;
    max-width: auto;
    text-align: center;
}
.hamburgerhero-img{
    width: 300px;
    border-radius: 1px;
    transform: trasform 0.4s ease, box-shadow 0.4s ease;
}
.hamburgerhero-img:hover{
    transform: scale(1.1);
}
@media (max-width: 480px) {

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .hero {
    
    flex-direction: column;
  }
.hero-texto{
  margin-left: 0px;
}
  .hero h1 {
    font-size: 1.9rem;
    line-height: 1.2;
    
  }

  .hero p {
    font-size: 1rem;
  }

  .hero, .navbar, footer {
    width: 100%;
  }
}
